body {
  
  font-family: "Ubuntu", sans-serif;
  padding: 20px 50px;
}

img {
  width: 50%;
  text-align: center;
}
.flex-section {
  display: flex;
}

.half-split {
  width: 50%;
}

.missions{
  width: 30%;
}