body {
  font-family: "Ubuntu", sans-serif;
  background-color: #406882;
  color: aliceblue;
  margin: 0;
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-attachment: fixed;
  background-position: -250px -250px;
}

.main-title {
  font-family: "Gideon Roman", cursive;
  font-size: 50px;
  padding-left: 15px;
  border-left: 2px solid #1a374d;
}

span {
  color: #f49460;
}

.link-button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #1a374d;
  color: aliceblue;
  padding: 15px;
  border-radius: 20px;
}

small {
  display: block;
  padding: 15px 0;
}

.global-images {
  display: block;
  margin: 0 auto;
  width: 450px;
}

.flex-section {
  display: flex;
  padding: 50px 100px;
  margin: 0 200px;
  justify-content: none;
}

h1 {
  color: #55bbff;
}

.half-split {
  width: 50%;
  padding: 0 50px;
}

.middle-header {
  text-align: center;
}

.illustrator,
.customer-pic {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.target {
  width: 30%;
  margin: 0 20px;
  padding: 20px 50px;
  border-radius: 20px;
}

.target h3 {
  color: #f4beee;
}

.mission {
  background-color: #293b5f;
}

.vission {
  background-color: #47597e;
}

.goal {
  background-color: #26374b;
}

.customer {
  text-align: center;
  padding: 0 50px;
}

.customer-pic {
  border-radius: 100px;
}

.customer h3 {
  color: #edd2f3;
}

footer {
  background-color: #171717;
  text-align: center;
}

.footer-title {
  font-family: "Gideon Roman", cursive;
  font-size: 50px;
  padding-top: 65px;
}
